__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
simv
simv.daidir/
csrc/
DVEfiles/
ucli.key
*.vcd
*.vpd
*.fsdb
*.wlf
*.vdb
*.log
*.jou
*.pb
*.key
*.out
coverage/
cov/
urgReport/
.vscode/settings.json
.vscode/launch.json
